Backend-API/venv
Backend-API/commands.index
Backend-API/__pycache__/
Backend-API/*.pyc
Backend-API/*.pyo
Backend-API/*.pyd
Backend-API/chroma
Backend-API/commands.db

Frontend-CLI/target/
Frontend-CLI/*.exe
Frontend-CLI/*.exe~
Frontend-CLI/*.dll
Frontend-CLI/*.dylib
Frontend-CLI/*.so
Frontend-CLI/*.log
Frontend-CLI/*.swp
Frontend-CLI/**/Cargo.lock
Frontend-CLI/onnx_model

*.env
*.DS_Store